apiVersion: apps/v1
kind: Deployment
metadata:
  name: springboot-crud-deployment
spec:
  selector:
    matchLabels:
      app: springboot-k8s-mysql
  replicas: 3
  template:
    metadata:
      labels:
        app: springboot-k8s-mysql
    spec:
      containers:
        - name: springboot-crud-k8s
          image: springboot-crud-k8s:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          env:   
            - name: DB_HOST   
              value : mysql

            - name: DB_NAME  
              value : employeedb

            - name: DB_USERNAME  
              value : root

            - name: DB_PASSWORD 
              value : root

---

apiVersion: v1
kind: Service 
metadata:
  name: springboot-crud-svc
spec:
  selector:
    app: springboot-k8s-mysql
  ports:
    - protocol: "TCP"
      port: 8080 # The port that the service is running on in the cluster
      targetPort: 8080 # The port exposed by the service
  type: NodePort 